@model Cumulative2N01605244.Models.Teacher

<h2>Delete Teacher</h2>
<p>Are you sure you want to delete @Model.Name?</p>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit">Delete</button>
</form>

