@model Cumulative2N01605244.Models.Teacher

<h2>Add New Teacher</h2>
<form asp-action="New" method="post">
    <label>Name:</label>
    <input type="text" name="Name" />
    <br />
    <label>Hire Date:</label>
    <input type="date" name="HireDate" />
    <br />
    <label>Employee Number:</label>
    <input type="text" name="EmployeeNumber" />
    <br />
    <button type="submit">Add Teacher</button>
</form>
